body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bc{
  color: #000
}

.p1r{
  padding-right: 1rem;
  padding-left: 1rem;
}

.cardImage{
  height: 500px;
  width: 800px;
}

.content{
  display: flex;
  justify-content: center;
}

.wrapperAdd{
  display: block;
  border-radius: 5%;
  padding: 30px;
  margin-top: 4cm;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.3);
  justify-content: center;
}

.ptRecipe{
  padding-top: 15px;
}

.wrapperRecipe{
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.3);
  padding: 10px;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.search{
  padding: 15px;
}

.wrapperAbout{
  background-color: #d1c4e9;
  color: black;
  border-radius: 40px;
  height: 250px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.deleteButton{
  width: 50%;
  color: white;
  background-color: red;
  height: 40px;
  border-radius: 30px;
  border: 0px 
}

